<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.AliensHideNSeek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StringRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameEngineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JoinGameActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>